@model IEnumerable<MVC4_Basico.Models.Paciente>

Aqui se listan todos los pacientes

@foreach (var item in Model)
{
    <table>
        <tr>
            <td>ID</td>
            <td> : </td>
            <td>@item.Id</td>
        </tr>
        <tr>
            <td>Rut</td>
            <td> : </td>
            <td>@item.Rut</td>
        </tr>
        <tr>
            <td>Nombre</td>
            <td> : </td>
            <td>@item.Nombre</td>
        </tr>
        <tr>
            <td>Edad</td>
            <td> : </td>
            <td>@item.Edad</td>
        </tr>
        <tr>
            <td><a href="@Url.RouteUrl("Editar_Paciente", new { ID = item.Id })">Editar</a></td>
            <td><a href="@Url.RouteUrl("Ver_Paciente", new { ID = item.Id })">Ver</a></td>
            <td><a href="@Url.RouteUrl("Enfermedades_Paciente", new { ID = item.Id })">Enfermedades</a></td>
        </tr>
    </table>
     
    
}
